# phpstan.neon
parameters:
    treatPhpDocTypesAsCertain: false
    scanFiles:
          - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon