# phpstan.neon
parameters:
    scanDirectories:
          - ../../plugins/raow
          - ../../plugins/polylang-pro/vendor/wpsyntex/polylang/include
          - ../../plugins/redux-framework
          - ../../plugins/advanced-custom-fields-pro
          - ../../plugins/woocommerce
          - ../../plugins/bb-plugin/classes
          - ../../plugins/gravityforms
    scanFiles:
          - functions.php
          - ../../plugins/free-gifts-for-woocommerce/inc/frontend/class-fgf-gift-products-handler.php
          - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon